@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Regular'), local('Geometria-Thin'),
        url('~@/assets/fonts/Montserrat-Regular.woff') format('woff'),
        url('~@/assets/fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}